<div class="show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <h1><%= @list.name %></h1>
</div>

<div class="show-btn">
  <%= link_to  new_list_bookmark_path(@list) do %>
    <button class="btn btn-danger">Add a movie</button>
  <% end %>

  <%= link_to  list_path(@list), data: {turbo_method: :delete} do %>
    <button class="btn btn-danger me-4">Delete List</button>
  <% end %>
</div>
<div class="row">
    <% @list.movies.each do |b| %>
  <div class="col-4 m-3">
    <div class="cards-show">
      <div class="d-flex flex-column m-2">
        <h3 class="m-3"><%= b.title %></h3>
        <p>Overview : <%= b.overview.split.take(10).join(" ") %>...</p>
      </div>
      <%= image_tag b.poster_url, class:"poster" %>
    </div>
  </div>
    <% end %>
</div>
